---
import { Col, Image, Row, Stack } from 'react-bootstrap';
---

<style lang="scss">
    @import "../../../src/styles/peggys-pantry/components/info.scss";
</style>

<div class="info">
    <div class="info-grid">
        <div class="info-grid-list">
            <div class="info-list">
                <Stack direction="horizontal" gap={2}>
                    <Image className="icon" src={`${import.meta.env.BASE_URL}/peggys-pantry/info/paw.svg`} />
                    <span>For dogs of all sizes</span>
                </Stack>
                <Stack direction="horizontal" gap={2}>
                    <Image className="icon" src={`${import.meta.env.BASE_URL}/peggys-pantry/info/meat.svg`} />
                    <span>Protein packed reward</span>
                </Stack>
                <Stack direction="horizontal" gap={2}>
                    <Image className="icon" src={`${import.meta.env.BASE_URL}/peggys-pantry/info/hearts.svg`} />
                    <span>Simple, natural, delicious</span>
                </Stack>
                <Stack direction="horizontal" gap={2}>
                    <Image className="icon" src={`${import.meta.env.BASE_URL}/peggys-pantry/info/leaves.svg`} />
                    <span>No artificial preservatives</span>
                </Stack>
            </div>
        </div>
        <div class="info-grid-dog">
            <Image fluid src={`/peggys-pantry/info/dog.webp`} />
        </div>
        <div class="info-grid-meat">
            <Image fluid src={`/peggys-pantry/info/beef.webp`} />
        </div>
    </div>
</div>
