---
import { Image, Stack } from 'react-bootstrap';
---

<style lang="scss">
    @import "../../../src/styles/peggys-pantry/components/benefits.scss";
</style>

<div class="benefits">
    <div class="benefits-list">
        <Stack direction="horizontal" gap={2}>
            <Image className="icon" src="/peggys-pantry/check.svg" />
            <Stack>
                <span class="benefit-heading">Real meat, real Good</span>
                <span class="lead">Made with real meat to help support lean muscle and energy.</span>
            </Stack>
        </Stack>
        <Stack direction="horizontal" gap={2}>
            <Image className="icon" src="/peggys-pantry/check.svg" />
            <Stack>
                <span class="benefit-heading">Training Made Healthy</span>
                <span class="lead">A low-fat reward made for daily training, treating, or just because.</span>
            </Stack>
        </Stack>
        <Stack direction="horizontal" gap={2}>
            <Image className="icon" src="/peggys-pantry/check.svg" />
            <Stack>
                <span class="benefit-heading">Made with natural ingredients</span>
                <span class="lead">Made with quality ingredients - no grains or fillers.</span>
            </Stack>
        </Stack>
        <Stack direction="horizontal" gap={2}>
            <Image className="icon" src="/peggys-pantry/check.svg" />
            <Stack>
                <span class="benefit-heading">High protein, low fat</span>
                <span class="lead">A protein-rich snack that supports strong, active dogs without the extra calories.</span>
            </Stack>
        </Stack>
    </div>
</div>
