$prefix: '';
$link-decoration: none;

$font-family-sans-serif: 'gotham', sans-serif;
$font-weight-lighter:  300;
$font-weight-light:    300;
$font-weight-normal:   300;
$font-weight-medium:   700;
$font-weight-semibold: 700;
$font-weight-bold:     700;
$font-weight-bolder:   700;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: $font-weight-normal;
$display-font-family: 'verveine', sans-serif;

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    letter-spacing: 6%;
}

$blue:   #009DD1;
$red:    #C1353C;
$yellow: #EBE362;
$purple: #422E80;
$green:  #33502B;
$orange: #CB743A;
$pink:   #BF428F;

$primary:   $blue;
$secondary: $red;
$body-bg:   $primary;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
