@font-face {
    font-family: 'gotham';
    src: url('/peggys-pantry/fonts/gotham-medium.woff') format('woff');
    font-weight: $font-weight-normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gotham';
    src: url('/peggys-pantry/fonts/gotham-bold.woff') format('woff');
    font-weight: $font-weight-bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'verveine';
    src: url('/peggys-pantry/fonts/verveine-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'atf-alternate-gothic-condensed';
    src: url('/peggys-pantry/fonts/atf-alternate-gothic-condensed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
