// Bootstrap + theme + variables
@import "custom";
@import "../global/bootstrap";

// Custom fonts
@import "fonts";

// Global styles
@import "../global/layout";
@import "../global/components";

// Site styles
body {
    background-image: url('/peggys-pantry/background.svg');
    background-position: center center;
    background-size: 153px;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 6%;
    font-weight: $font-weight-normal;
    font-style: normal;
}

footer {
    border-top: var(--border);
    border-bottom: var(--border);
}
