---
import { Col, Row, Stack } from 'react-bootstrap';
const points = [
    {
        image: "active-energy",
        text: "Active Energy",
    },
    {
        image: "healthy-digestion",
        text: "Healthy Digestion",
    },
    {
        image: "natural-ingredients",
        text: "Made with Natural Ingredients",
    },
    {
        image: "immune-health",
        text: "Immune Health",
    }
];
---

<div class="info">
    <Row>
        {points.map((point, i) =>
            <Col xs={12} md={3} key={i}>
                <Stack gap={3} className="align-items-center">
                    <img src={`${import.meta.env.BASE_URL}/wild-paw/info/${point.image}.svg`} />
                    <span class="lead">{point.text}</span>
                </Stack>
            </Col>
        )}
    </Row>
</div>
