---
import GalleryGrid from './GalleryGrid';
import { theme } from '../utils/theme';

let title = "Beg-Worthy Bites";
let cols = 3;
let images = [
    {
        path: '/peggys-pantry/gallery/air-dried-duck-fillets.webp',
        url: '#'
    },
    {
        path: '/peggys-pantry/gallery/grilled-chicken-jerky.webp',
        url: '#'
    },
    {
        path: '/peggys-pantry/gallery/chicken-and-codfish-rolls.webp',
        url: '#'
    },
    {
        path: '/peggys-pantry/gallery/oven-baked-chicken-sausages.webp',
        url: '#'
    },
    {
        path: '/peggys-pantry/gallery/chicken-bone-wraps-with-a-crunch.webp',
        url: '#'
    },
    {
        path: '/peggys-pantry/gallery/slow-roasted-lamb-strips.webp',
        url: '#'
    }
];

if (theme.id === 'wild-paw') {
    title = "Paws Gallery";
    cols = 4;
    images = [
        {
            path: '/wild-paw/gallery/image-1.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-2.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-3.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-4.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-5.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-6.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-7.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-8.webp',
            url: '#'
        }
    ]
}

if (theme.id === 'calibre') {
    title = "Paws Gallery";
    cols = 4;
    images = [
        {
            path: '/wild-paw/gallery/image-1.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-2.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-3.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-4.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-5.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-6.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-7.webp',
            url: '#'
        },
        {
            path: '/wild-paw/gallery/image-8.webp',
            url: '#'
        }
    ]
}
---

<div class="gallery">
    <h3 class="section-heading">{title}</h3>
    <GalleryGrid client:load images={images} cols={cols} />
</div>
