---
import { theme } from '../utils/theme';
import { Col, Image, Row, Stack } from 'react-bootstrap';
---

<div class="hero">
    {theme.id === 'peggys-pantry' && (
        <Row className="g-3 g-lg-5">
            <Col xs={12} md={7}>
                <div class="text-center">
                    <Stack gap={3}>
                        <h1 class="display-1 m-0">Dog<br />Treats</h1>
                        <Stack className="h4 m-0">
                            <span>For training, treating</span>
                            <span>or just because</span>
                        </Stack>
                    </Stack>
                </div>
                <img class="hearts" src={`${import.meta.env.BASE_URL}/peggys-pantry/hearts.svg`} />
                <img class="meat" src={`${import.meta.env.BASE_URL}/peggys-pantry/meat.svg`} />
            </Col>
            <Col xs={12} md={5}>
                <Image
                    className="hero-image"
                    src={`${import.meta.env.BASE_URL}/peggys-pantry/dog.webp`}
                />
            </Col>
        </Row>
    )}
    {theme.id === 'wild-paw' && (
        <Row className="hero-grid">
            <Col xs={12}>
                <div class="hero-heading">
                    <h4>Deliciously healthy, naturally happy.</h4>
                </div>
            </Col>
            <Col xs={12}>
                <Image
                    fluid
                    src={`${import.meta.env.BASE_URL}/wild-paw/dog.webp`}
                    className="hero-image"
                />
            </Col>
            <Col xs={12}>
                <div class="hero-copy">
                    At Wild Paw, we’re committed to providing dogs with food that’s
                    as natural as it is nourishing. Inspired by the instinctive spirit
                    of every dog, Wild Paw stands for a return to simple, honest
                    nutrition. We use only ingredients we’d choose for our own dogs.
                    Each bite is packed with premium proteins, essential nutrients,
                    and wholesome goodness.
                </div>
            </Col>
        </Row>
    )}
    {theme.id === 'calibre' && (
        <Row className="hero-grid">
            <Col xs={12}>
                <div class="hero-heading">
                    <h1>Cat Litter</h1>
                    <h4>One Brand. Four Purrfect Fits.</h4>
                </div>
            </Col>
        </Row>
    )}
</div>
