// Bootstrap + theme + variables
@import "custom";
@import "../global/bootstrap";

// Custom fonts
@import "fonts";

// Global styles
@import "../global/layout";
@import "../global/components";

// Site styles
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 6%;
}

footer {
    background: var(--#{$prefix}body-bg);
}