---
import { Container } from 'react-bootstrap';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { theme } from '../utils/theme';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href={`${theme.id}/favicon.svg`} />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://use.typekit.net/gii2ufv.css">
        <title>{theme.name}</title>
        {theme.id === 'peggys-pantry' ? (
            <style is:global lang="scss">
                @import "../../src/styles/peggys-pantry/styles.scss";
            </style>
        ) : (
            <style is:global lang="scss">
                @import "../../src/styles/wild-paw/styles.scss";
            </style>
        )}
        <slot name="styles" />
    </head>
    <body>
        <Container className="layout">
            <Header />
            <section>
                <slot />
            </section>
            <Footer />
        </Container>
    </body>
</html>