---
declare const __THEME__: string;
import { Container } from 'react-bootstrap';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { theme } from '../utils/theme';
await import('../styles/'+__THEME__+'/styles.scss');
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href={`/${theme.id}/favicon.svg`} />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{theme.name}</title>
    </head>
    <body class={theme.id}>
        <Container className="layout">
            <Header />
            <section>
                <slot />
            </section>
            <Footer />
        </Container>
    </body>
</html>